.project {
    background: var(--lightBlack);
    color: var(--whiteColor);
}

.project-title {
    width: max-content;
    margin: 40px auto;
    
}

.project-container {
    padding: 1rem 0;
    width: 100%;
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-content {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    place-items: center;
}

.pro-box {
    padding: 1rem;
}

@media screen  and (max-width: 768px) {
    .project-content {
        grid-template-columns: 1fr;
    }
    .project-container .project-content .pro-box {
        border: 2px solid rosybrown;
        border-radius: 6px;
        box-shadow: 0 0 6px rgba(255, 255, 255, 0.91);
    }
}